<% provide(:title, 'About') %>

<div class="aboutus">

  <div class="row" id ="abouthead"><h1 id="abouthead">Meet The Team</h1></div>

  <div class="row">          
    <div class="span10" id="hor"><hr /></div>
  </div><!-- row -->
  <div class="row">
  <div class ="contain">

  	<!-- Shane -->

    <div class="span3" id ="aboutus">
      <div class="container1">
        <div class="container2"> 
          <%= image_tag "./shane.png", :class =>"img-circle" %>
          <div class = "contacts">
            <p>
             <a href="https://github.com/shanearrowsmith" target="_blank"><i class="icon-github-sign"></i></a>
             <a href="https://www.facebook.com/search/results.php?q=Shane+Arrowsmith&init=public" target="_blank"><i class="icon-facebook"></i></a>
             <a href="http://ie.linkedin.com/pub/shane-arrowsmith/64/b7b/893" target="_blank"><i class="icon-linkedin"></i></a>
             <a href="https://twitter.com/ChipSArr" target="_blank"><i class="icon-twitter"></i></a>                                                 
            </p>
          </div><!-- contacts -->
        </div><!-- container2 -->
      </div><!-- container1 --> 
      <br /><br />
      <h3 class="staffBio">Shane Arrowsmith</h3>
           
    </div><!-- col -->

    <!-- Karen -->

    <div class="span3">
      <div class="container1">
        <div class="container2"> 
        <%=image_tag "./karen.png", :class =>"img-circle" %>
        <div class = "contacts">
          <p>
            <a href="https://github.com/Karaignee" target="_blank"><i class="icon-github-sign"></i></a>         
            <a href="https://www.facebook.com/karen.dot.rooney" target="_blank"><i class="icon-facebook"></i></a>
            <a href="http://ie.linkedin.com/in/karaignee" target="_blank"><i class="icon-linkedin"></i></a>
            <a href="https://twitter.com/karen_rooney" target="_blank"><i class="icon-twitter"></i></a>                                                 
           </p>
        </div>
       </div><!-- container2 -->
     </div><!-- container1 -->

     <br /><br />
     <h3 class="staffBio">Karen Rooney</h3>
           
    </div><!-- col -->

    <!-- Mark -->

    <div class="span3">
     <div class="container1">
       <div class="container2"> 
        <%= image_tag "./mark.png", :class =>"img-circle" %>
        <div class = "contacts">                 
        <p>
          <a href="https://github.com/mpryder" target="_blank"><i class="icon-github-sign"></i></a>         
          <a href="https://www.facebook.com/mark.p.ryder?fref=ts" target="_blank"><i class="icon-facebook"></i></a>
          <a href="http://ie.linkedin.com/pub/mark-ryder/62/425/a50" target="_blank"><i class="icon-linkedin"></i></a>
          <a href="https://twitter.com/markruffryder" target="_blank"><i class="icon-twitter"></i></a>                                                 
        </p>                                                
                  
        </div><!-- contacts -->
       </div><!-- container2 -->
     </div><!-- container1 -->

     <br /><br />
    <h3 class="staffBio"> Mark Ryder</h3>
           
   </div><!-- col -->
  </div> <!-- contain -->
</div>
    </div>