<% provide(:title, 'Current Exchange Rates') %>

<h1>Current Exchange Rates</h1>


<div ng-app="myApp">
<div id="center">
  <div class="divLeft">
    <table class="table table-striped table-bordered table-condensed">
    <th></th>
      <tr class="f32"><td class="flag ae"></td></tr>
      <tr class="f32"><td class="flag af"></td></tr>
      <tr class="f32"><td class="flag al"></td></tr>
      <tr class="f32"><td class="flag am"></td></tr>
      <tr class="f32"><td class="flag an"></td></tr>
      <tr class="f32"><td class="flag ao"></td></tr>
      <tr class="f32"><td class="flag ar"></td></tr>
      <tr class="f32"><td class="flag au"></td></tr>
      <tr class="f32"><td class="flag aw"></td></tr>
      <tr class="f32"><td class="flag az"></td></tr>
      <tr class="f32"><td class="flag ba"></td></tr>
      <tr class="f32"><td class="flag bb"></td></tr>
      <tr class="f32"><td class="flag bd"></td></tr>
      <tr class="f32"><td class="flag be"></td></tr>
      <tr class="f32"><td class="flag bh"></td></tr>
      <tr class="f32"><td class="flag bi"></td></tr>
      <tr class="f32"><td class="flag bm"></td></tr>
      <tr class="f32"><td class="flag bn"></td></tr>
      <tr class="f32"><td class="flag bo"></td></tr>
      <tr class="f32"><td class="flag br"></td></tr>
      <tr class="f32"><td class="flag bs"></td></tr>
      <tr><td class=""></td></tr>
      <tr class="f32"><td class="flag bt"></td></tr>
      <tr class="f32"><td class="flag bw"></td></tr>
      <tr class="f32"><td class="flag by"></td></tr>
      <tr class="f32"><td class="flag bz"></td></tr>
      <tr class="f32"><td class="flag ca"></td></tr>
      <tr class="f32"><td class="flag cg"></td></tr>
      <tr class="f32"><td class="flag ch"></td></tr>
      <tr class="f32"><td class="flag cl"></td></tr>
      <tr class="f32"><td class="flag cl"></td></tr>
      <tr class="f32"><td class="flag cn"></td></tr>
      <tr class="f32"><td class="flag co"></td></tr>
      <tr class="f32"><td class="flag cr"></td></tr>
      <tr class="f32"><td class="flag cu"></td></tr>
      <tr class="f32"><td class="flag cv"></td></tr>
      <tr class="f32"><td class="flag cz"></td></tr>
      <tr class="f32"><td class="flag dj"></td></tr>
      <tr class="f32"><td class="flag dk"></td></tr>
      <tr class="f32"><td class="flag do"></td></tr>
      <tr class="f32"><td class="flag dz"></td></tr>
      <tr class="f32"><td class="flag ee"></td></tr>
      <tr class="f32"><td class="flag eg"></td></tr>
      <tr class="f32"><td class="flag er"></td></tr>
      <tr class="f32"><td class="flag et"></td></tr>
      <tr class="f32"><td class="flag _European_Union"></td></tr>
      <tr class="f32"><td class="flag fj"></td></tr>
      <tr class="f32"><td class="flag fk"></td></tr>
      <tr class="f32"><td class="flag gb"></td></tr>
      <tr class="f32"><td class="flag ge"></td></tr>
      <tr class="f32"><td class="flag gh"></td></tr>
      <tr class="f32"><td class="flag gi"></td></tr>
      <tr class="f32"><td class="flag gm"></td></tr>
      <tr class="f32"><td class="flag gn"></td></tr>
      <tr class="f32"><td class="flag gt"></td></tr>
      <tr class="f32"><td class="flag gy"></td></tr>
      <tr class="f32"><td class="flag hk"></td></tr>
      <tr class="f32"><td class="flag hn"></td></tr>
      <tr class="f32"><td class="flag hr"></td></tr>
      <tr class="f32"><td class="flag ht"></td></tr>
      <tr class="f32"><td class="flag hu"></td></tr>
      <tr class="f32"><td class="flag id"></td></tr>
      <tr class="f32"><td class="flag il"></td></tr>
      <tr class="f32"><td class="flag in"></td></tr>
      <tr class="f32"><td class="flag iq"></td></tr>
      <tr class="f32"><td class="flag ir"></td></tr>
      <tr class="f32"><td class="flag is"></td></tr>
      <tr class="f32"><td class="flag je"></td></tr>
      <tr class="f32"><td class="flag jm"></td></tr>
      <tr class="f32"><td class="flag jo"></td></tr>
      <tr class="f32"><td class="flag jp"></td></tr>
      <tr class="f32"><td class="flag ke"></td></tr>
      <tr class="f32"><td class="flag kg"></td></tr>
      <tr class="f32"><td class="flag kh"></td></tr>
      <tr class="f32"><td class="flag km"></td></tr>
      <tr class="f32"><td class="flag kp"></td></tr>
      <tr class="f32"><td class="flag kr"></td></tr>
      <tr class="f32"><td class="flag kw"></td></tr>
      <tr class="f32"><td class="flag ky"></td></tr>
      <tr class="f32"><td class="flag kz"></td></tr>
      <tr class="f32"><td class="flag la"></td></tr>
      <tr class="f32"><td class="flag lb"></td></tr>
      <tr class="f32"><td class="flag lk"></td></tr>
      <tr class="f32"><td class="flag lr"></td></tr>
      <tr class="f32"><td class="flag ls"></td></tr>
      <tr class="f32"><td class="flag lt"></td></tr>
      <tr class="f32"><td class="flag lv"></td></tr>
      <tr class="f32"><td class="flag ly"></td></tr>
      <tr class="f32"><td class="flag ma"></td></tr>
      <tr class="f32"><td class="flag md"></td></tr>
      <tr class="f32"><td class="flag mg"></td></tr>
      <tr class="f32"><td class="flag mk"></td></tr>
      <tr class="f32"><td class="flag mm"></td></tr>
      <tr class="f32"><td class="flag mn"></td></tr>
      <tr class="f32"><td class="flag mo"></td></tr>
      <tr class="f32"><td class="flag mr"></td></tr>
      <tr class="f32"><td class="flag mt"></td></tr>
      <tr class="f32"><td class="flag mu"></td></tr>
      <tr class="f32"><td class="flag mv"></td></tr>
      <tr class="f32"><td class="flag mw"></td></tr>
      <tr class="f32"><td class="flag mx"></td></tr>
      <tr class="f32"><td class="flag my"></td></tr>
      <tr class="f32"><td class="flag mz"></td></tr>
      <tr class="f32"><td class="flag na"></td></tr>
      <tr class="f32"><td class="flag ng"></td></tr>
      <tr class="f32"><td class="flag ni"></td></tr>
      <tr class="f32"><td class="flag no"></td></tr>
      <tr class="f32"><td class="flag np"></td></tr>
      <tr class="f32"><td class="flag nz"></td></tr>
      <tr class="f32"><td class="flag om"></td></tr>
      <tr class="f32"><td class="flag pa"></td></tr>
      <tr class="f32"><td class="flag pe"></td></tr>
      <tr class="f32"><td class="flag pg"></td></tr>
      <tr class="f32"><td class="flag ph"></td></tr>
      <tr class="f32"><td class="flag pk"></td></tr>
      <tr class="f32"><td class="flag pl"></td></tr>
      <tr class="f32"><td class="flag py"></td></tr>
      <tr class="f32"><td class="flag qa"></td></tr>
      <tr class="f32"><td class="flag ro"></td></tr>
      <tr class="f32"><td class="flag rs"></td></tr>
      <tr class="f32"><td class="flag ru"></td></tr>
      <tr class="f32"><td class="flag rw"></td></tr>
      <tr class="f32"><td class="flag sa"></td></tr>
      <tr class="f32"><td class="flag sb"></td></tr>
      <tr class="f32"><td class="flag sc"></td></tr>
      <tr class="f32"><td class="flag sd"></td></tr>
      <tr class="f32"><td class="flag se"></td></tr>
      <tr class="f32"><td class="flag sg"></td></tr>
      <tr class="f32"><td class="flag sh"></td></tr>
      <tr class="f32"><td class="flag sl"></td></tr>
      <tr class="f32"><td class="flag so"></td></tr>
      <tr class="f32"><td class="flag sr"></td></tr>
      <tr class="f32"><td class="flag st"></td></tr>
      <tr class="f32"><td class="flag sv"></td></tr>
      <tr class="f32"><td class="flag sy"></td></tr>
      <tr class="f32"><td class="flag sz"></td></tr>
      <tr class="f32"><td class="flag th"></td></tr>
      <tr class="f32"><td class="flag tj"></td></tr>
      <tr class="f32"><td class="flag tm"></td></tr>
      <tr class="f32"><td class="flag tn"></td></tr>
      <tr class="f32"><td class="flag to"></td></tr>
      <tr class="f32"><td class="flag tr"></td></tr>
      <tr class="f32"><td class="flag tt"></td></tr>
      <tr class="f32"><td class="flag tw"></td></tr>
      <tr class="f32"><td class="flag tz"></td></tr>
      <tr class="f32"><td class="flag ua"></td></tr>
      <tr class="f32"><td class="flag ug"></td></tr>
      <tr class="f32"><td class="flag us"></td></tr>
      <tr class="f32"><td class="flag uy"></td></tr>
      <tr class="f32"><td class="flag uz"></td></tr>
      <tr class="f32"><td class="flag ve"></td></tr>
      <tr class="f32"><td class="flag vn"></td></tr>
      <tr class="f32"><td class="flag vu"></td></tr>
      <tr class="f32"><td class="flag ws"></td></tr>
      <tr><td class=""></td></tr>
      <tr><td class=""></td></tr>
      <tr><td class=""></td></tr>
      <tr><td class=""></td></tr>
      <tr><td class=""></td></tr>
      <tr><td class=""></td></tr>
      <tr><td class=""></td></tr>
      <tr class="f32"><td class="flag ye"></td></tr>
      <tr class="f32"><td class="flag za"></td></tr>
      <tr class="f32"><td class="flag zm"></td></tr>
      <tr class="f32"><td class="flag zm"></td></tr>
      <tr class="f32"><td class="flag zw"></td></tr>
</table>
  </div>
<div class="divMid1" ng-controller="currencyList" ng-init="getCurrencies()">
  <table class="table table-striped table-bordered table-condensed">
    <th>Currency</th>
    <tr ng-repeat="(key, data) in currency">
    <td>{{data}}</td>
    </tr>
  </table>
  </div>

<div class="divMid2" ng-controller="marketList" ng-init="getRates()">
<table class="table table-striped table-bordered table-condensed">
  <th>Unit</th>
  <th>Today's Rates</th>
  <tr ng-repeat="(key, data) in rates.rates">
    <td>{{key}}</td>
    <td>{{data}}</td>
  </tr>
</table>
</div>

  <div class="divRight" ng-controller="yesList" ng-init="getYes()">
    <table class="table table-striped table-bordered table-condensed">
      <th>Yesterday's Rates </th>
      <tr ng-repeat="(key, data) in curr.rates">
        <td>{{data}}</td>
      </tr>
    </table>
  </div>

</div>
</div>

