
  <h1>BitFx</h1>

  <h2>
  	This is the home page for the RIA Project of Karen Rooney, Mark Ryder and Shane Arrowsmith.
  </h2>


  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>




  